@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 34 54% 97%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --nav: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 127 40% 25%;
    --primary: 127 40% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 99% 34%;
    --secondary-active: 48 99% 28%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --header-height: 4.25rem;

    --analysis-cross-height: 2rem;

    --space-between-sections: 4rem;

    --card-1: 120 41% 90%;
    --card-2: 34 50% 94%;
    --card-3: 0 0% 95%;
    --gray: 0 0% 62%;

    --light-gray: 0 0% 40%;

    --not-active: 0 0% 60%;

    --pay-icons: 1.25rem;
    --hover-payment-card: 0 0% 87%;



    --section-title-font-size: 24px; /* 1.5rem */
    --subtitle-font-size: 20px; /* 1.25rem */
    --CTA-font-size: 18px; /* 1.125rem */
    --p-font-size: 14px; /* 0.875rem */
    --small-font-size: 12px; /* 0.75rem */
  }

  @media (min-width: 700px) {
    :root {
      --section-title-font-size: 28px; /* 1.75rem */
      --subtitle-font-size: 24px; /* 1.5rem */
      --CTA-font-size: 20px; /* 1.25rem */
      --p-font-size: 16px; /* 1rem */
      --small-font-size: 14px; /* 0.875rem */
    }
  }
  @media (min-width: 1100px) {
    :root {
      --section-title-font-size: 36px; /* 2.25rem */
      --subtitle-font-size: 28px; /* 1.75rem */
      --CTA-font-size: 24px; /* 1.5rem */
      --p-font-size: 18px; /* 1.125rem */
      --small-font-size: 16px; /* 1rem */
    }
  }

  .container {
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @media (min-width: 768px) {
    :root {
      --header-height: 5rem;
    }
    .container {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .container {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  *:focus {
    outline-color: hsl(var(--secondary));
  }
  *:focus-visible {
    outline-color: hsl(var(--secondary));
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
  }
  .h-h1 {
    font-size: clamp(28px, 6vw, 64px);
    line-height: 2;
  }
}

svg {
  flex-shrink: 0;
}
.dir-ltr {
  direction: ltr !important;
}

/* ::-webkit-scrollbar {
  width: 13px;
} */
::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}
::-webkit-scrollbar-button {
  background-color: transparent;
  display: none;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
@layer components {
  .btn_main {
    @apply hover:bg-opacity-90 focus:bg-opacity-90 rounded-lg transition ease-out bg-first text-white active:scale-[0.93];
  }
  .btn_second {
    @apply hover:bg-opacity-90 focus:bg-opacity-90 rounded-lg transition ease-out border border-first text-first font-medium active:scale-[0.93];
  }
  .header-link {
    @apply inline-flex text-primary h-10 md:px-1 lg:px-3 py-3 w-max items-center font-bold justify-center rounded-full bg-card text-p transition-all duration-300 hover:bg-accent focus:bg-accent disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50 data-[state=open]:bg-accent/50;
  }
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  visibility: hidden;
  pointer-events: none;
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.noSelect,
a,
button,
img,
label,
svg {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
@media (max-width: 500px) {
  html,
  body {
    font-size: 13px !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body,
  html {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-primary text-foreground;
  }
}
input[dir="ltr"]::placeholder {
  text-align: right;
}


